h1 {
  text-align: center;
}
body {
  background-color: black;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  border: 1px white solid;
  margin: 0 auto;
  align-items: center;
}

th {
  border-bottom: 1px solid white;
}
